<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Bienvenue sur mon siiite de gossiiiiip</h1>
    <text>tu peux créer un nouveau potin en allant sur :
    	<a href="/gossips/new/">créer un nouveau potin</a>
    </text>
  </body>
</html>



